@import 'styles';

nav {
  background-color: transparent;
  width: 100vw;
  height: 120px;
  position: fixed;
}

.nav-bar {
  font-family: $header-font;
  color: $white;
  padding: 1.5em;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  span {
    font-family: $header-font;
    font-size: 2.25rem;
  }
}

.nav-action {
  font-family: $body-font;
  background-color: transparent;
  border: none;
  padding: 0;
  @include flex-center-align();
  gap: 8px;
  transition: ease-out 0.125s;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition: ease-in 0.125s;
  }

  p {
    margin: 0;
    color: $white;
  }

  i {
    color: $magenta;
    --fa-animation-duration: 2s;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 420px) {
  .nav-action p {
    display: none;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: $teal;
    background-image: none;
  }
}

/* ULTRA WIDE VIEW */
@media only screen and (min-width: 1600px) {
  .nav-bar {
    margin-inline: auto;
    max-width: 1500px;
    padding-inline: 0;
  }
}