@import 'styles';

/* NEW TWEET CONTAINER */
.new-tweet {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.new-tweet form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.new-tweet textarea {
  border: none;
  border-bottom: 4px solid $dark-grey;
  background-color: transparent;
  margin-bottom: 16px;
  font-size: 1.25rem;
  font-weight: 700;
  outline: none;
  resize: none;
}

/* NEW TWEET FOOTER */
.new-tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: $header-font;
}

.new-tweet button {
  background-color: $navy;
  color: $white;
  padding: 8px;
  border: none;
  border-radius: 8px;

  &:hover {
    background-color: $navy-light;
    cursor: pointer;
  }
}

.counter-red {
  color: $magenta;
}

/* ERROR MESSAGE */
.new-tweet .error {
  border-radius: 15px;
  color: $magenta;
  background-color: $magenta-light;
  padding: 18px;
  display: flex;
  align-items: stylesline;
  gap: 12px;
}

.new-tweet .error p {
  margin: 0;
}