@import 'styles';

/* TWEET CONTAINER */
article.tweet {
  border: 4px solid $dark-grey;
  padding: 24px;

  &:hover {
    box-shadow: 12px 12px 2px 1px $light-blue-grey;
  }
}

/* TWEET HEADER */
article.tweet header {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 12px;
}

.user-names {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-names img {
  width: 50px;
  height: 50px;
}

.user-names h3 {
  margin: 0;
  font-weight: 400;
}

article.tweet h4 {
  margin: 0;
  color: $light-blue-grey;
  text-align: right;
}

article.tweet p {
    overflow-x: auto;
    overflow-y: hidden;
}

/* TWEET FOOTER */
article.tweet footer {
  border-top: 4px solid $dark-grey;
  padding-top: 12px;
  display: flex;
  justify-content: space-between;
}

article.tweet footer p {
  margin: 0;
  font-size: 16px;
}

.tweet-icons {
  color: $navy;
  font-size: 16px;

  &:hover {
    color: $mint;
  }
}

/* MOBILE VIEW */
@media only screen and (max-width: 420px) {
  article.tweet {
    padding: 14px;
  }

  .user-names {
    flex-direction: column;
    align-items: flex-start;
  }

  article.tweet h3 {
    font-size: 24px;
  }

  article.tweet h4 {
    font-size: 20px;
  }

  article.tweet p {
    font-size: 18px;
  }
}