.main-header {
  background-color: #7CC2AE;
  background-image: url("../images/asfalt-light.png");
  width: 100%;
  height: 520px;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.main-header h2 {
  margin: 0;
  font-weight: 400;
  color: #FFFFFF;
}

/* MOBILE VIEW */
@media only screen and (max-width: 420px) {
  .main-header {
    height: 400px;
  }
  .main-header img {
    height: 50%;
  }
}
/* DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  .main-header {
    width: 40%;
    height: 400px;
    padding: 0;
  }
}
