nav {
  font-family: 'Bungee', sans-serif;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  height: 120px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
 }

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
}

.nav-action {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans 3', sans-serif;
}

.nav-action p {
  margin: 0;
}

.nav-action i {
  color: #ED3C1F;
}