nav {
  font-family: 'Bungee', sans-serif;
  color: #FFFFFF;
  padding: 1.5em;
  height: 120px;
  width: 100vw;
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
 }

nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 36px;
}

.nav-action {
  font-family: 'Source Sans 3', sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: ease-out 0.125s;
}

.nav-action p {
  margin: 0;
  color: #FFFFFF;
}

.nav-action:hover {
  cursor: pointer;
  transform: scale(1.1); 
  transition: ease-in 0.125s;
}

.nav-action i {
  color: #c12352;
  --fa-animation-duration: 2s;
}

 @media only screen and (min-width: 1024px) {
  nav {
    background-color: #199a88;
    background-image: none;
  }
 }