nav {
  background-color: transparent;
  width: 100vw;
  height: 120px;
  position: fixed;
}

.nav-bar {
  font-family: "Bungee", sans-serif;
  color: #FFFFFF;
  padding: 1.5em;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-bar span {
  font-family: "Bungee", sans-serif;
  font-size: 2.25rem;
}

.nav-action {
  font-family: "Source Sans 3", sans-serif;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  transition: ease-out 0.125s;
}

.nav-action:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: ease-in 0.125s;
}

.nav-action p {
  margin: 0;
  color: #FFFFFF;
}

.nav-action i {
  color: #C12352;
  --fa-animation-duration: 2s;
}

/* MOBILE VIEW */
@media only screen and (max-width: 420px) {
  .nav-action p {
    display: none;
  }
}

/* DESKTOP VIEW */
@media only screen and (min-width: 1024px) {
  nav {
    background-color: #199a88;
    background-image: none;
  }
}

/* ULTRA WIDE VIEW */
@media only screen and (min-width: 1600px) {
  .nav-bar {
    margin-inline: auto;
    max-width: 1500px;
    padding-inline: 0;
  }
}
