/* NEW TWEET CONTAINER */
.new-tweet form {
  display: flex;
  flex-direction: column;
  font-weight: 700;
}

.new-tweet textarea {
  border: none;
  border-bottom: 4px solid rgb(84, 81, 73);
  background-color: transparent;
  margin-bottom: 16px;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  resize: none;
}

/* NEW TWEET FOOTER */
.new-tweet footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Bungee', sans-serif;
}

.tweet-button {
  background-color: #4056A1;
  color: #fff;
  padding: 8px;
  border: none;
}

.tweet-button:hover {
  background-color: #586cad;
}

.counter-red {
  color: #ED3C1F;
}