.scroll-btn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 25px;
  z-index: 99;
  width: 90px;
  height: 90px;
  border: none;
  outline: none;
  background-color: #C12352;
  color: #FFFFFF;
  cursor: pointer;
  padding: 2px;
  border-radius: 50%;
  font-size: 30px;
  transition: ease-out 0.125s;
}
.scroll-btn:hover {
  transform: scale(1.1);
  transition: ease-in 0.125s;
}

/* MOBILE VIEW */
@media only screen and (max-width: 420px) {
  .scroll-btn {
    transform: scale(80%);
  }
  .scroll-btn:hover {
    transform: scale(90%);
  }
}
